/* Fixed Header Styles */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: var(--pico-spacing);
    backdrop-filter: blur(1rem);
    border-bottom-style: outset;
    border-bottom-color: var(--pico-form-element-border-color);
    border-width: 1px;
   
}

main {
    margin-top: 9rem;
    padding: 1rem;
}

.crypto-icon {
    width: 2.7rem;
    height: 2.7rem;
}

.screener-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    row-gap: 0.1rem;
}

@media only screen and (max-width: 600px) {
    .screener-results {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
}

.card-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.card-info .base-asset {
    margin-bottom: 0;
}

.card-info .base-asset-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-info .base-asset-details-price {
    margin-bottom: 0;
}

.card-info .base-asset-details-percent-change {
    margin-bottom: 0;
}

.color-percent-change-up {
    color: var(--pico-form-element-valid-active-border-color);
}

.color-percent-change-down {
    color: var(--pico-form-element-invalid-active-border-color);
}


.header-row {
    display: flex;
    justify-content: start;
    /* Distribute space between h1 and button */
    align-items: center;
    /* Align items vertically */
    width: 100%;
    /* Ensure it spans the full width */

    margin-bottom: var(--pico-spacing);
    gap:var(--pico-spacing);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1, 'liga' 1;
  }

.no-padding-bottom{
    padding-bottom: 0;
}

.logo{
    width: 2.7rem;
    height: 2.7rem;
}

.logo path{
    stroke: var(--pico-primary-background);
}